version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_NAME=tetris2048
      - DB_USERNAME=postgres
      - DB_PASSWORD=Saglam1234
      - JWT_SECRET=81d6150e222fd5a7896b29919992218f4a6a96bb836a6a38e949295746b9c511
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/tetris2048

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=tetris2048
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Saglam1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
